# ==========================================
# Configuration de l'environnement Odoo Stack
# ==========================================

# Versions des images
ODOO_VERSION=18.0
POSTGRES_VERSION=16-alpine
PGADMIN_VERSION=latest

# Paramètres PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo_secure_password_123

# Master password d'Odoo (gestionnaire de bases de données : création, sauvegarde, restauration)
ODOO_ADMIN_PASSWORD=admin_super_secret_passwd

# Identifiants de connexion pgAdmin 4
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin_secure_password_123

# Ports hôtes exposés
ODOO_PORT=8069
ODOO_CHAT_PORT=8072
PGADMIN_PORT=5050

# Payload CMS (Seeders et environnement)
PAYLOAD_ENV=development
PAYLOAD_RUN_SEEDERS=0

